.navagation {
  width: 100%;
    /* margin-top: -8px; */
}

ul input {
  font-size: 22px;
  margin-top: 1px;
  width: 624px;
}

.nav {
  display: flex;
  justify-content: space-between;
  list-style:none;
  margin:0;
  text-align:center;
  background-color: rgb(8, 28, 58);
  height: 52px;
  width: 100%;
}

.nav-box li {
  display: inline-block;
}

.nav a {
  padding: 0 10px;
}

#menu-bar, .nav-box-right li a {
  line-height: 52px;
  height: 52px;
}

.nav-box-right li a {
  color: #fff;
}

.fa-shopping-cart:hover:before {
  content: "Cart";
  font-family: Arial;
  font-size: 12px;
}

.fa-user:hover:before {
  content: "Account";
  font-family: Arial;
  font-size: 12px;
}

.fa-map-marker:hover:before {
  content: "Stores";
  font-family: Arial;
  font-size: 12px;
}

.fa-cutlery:hover:before {
  content: "Grocery";
  font-family: Arial;
  font-size: 12px;
}

#menu-bar {
  color: aqua;
}

#logo img {
  vertical-align: middle;
  width: 28px;
}

.main {
  background-color: rgb(8, 28, 58);
  color: white;
  display: flex;
    justify-content: space-evenly;
    height: 300px;
}