.navagation {
  width: 100%;
}

ul input {
  font-size: 22px;
  margin-top: 1px;
  width: 624px;
}

.nav {
  display: flex;
  justify-content: space-between;
  list-style:none;
  margin:0;
  text-align:center;
  background-color: rgb(8, 28, 58);
  height: 52px;
  width: 100%;
  position: fixed;
}

.nav-box li {
  display: inline-block;
}

.nav a {
  padding: 0 10px;
}

#menu-bar, .nav-box-right li a {
  line-height: 52px;
  height: 52px;
}

.nav-box-right li a {
  color: #fff;
}

.fa-shopping-cart:hover:before {
  content: "Cart";
  font-family: Arial;
  font-size: 12px;
}

.fa-user:hover:before {
  content: "Account";
  font-family: Arial;
  font-size: 12px;
}

.fa-map-marker:hover:before {
  content: "Stores";
  font-family: Arial;
  font-size: 12px;
}

.fa-cutlery:hover:before {
  content: "Grocery";
  font-family: Arial;
  font-size: 12px;
}

#menu-bar {
  color: rgb(54, 188, 225);
}

#logo img {
  vertical-align: middle;
  width: 28px;
}

.main {
  background-color: rgb(8, 28, 58);
  color: white;
  display: flex;
    justify-content: space-evenly;
    height: 400px;
}

.left-content {
  text-align: center;
  margin-top: 76px;
}

.right-content {
  text-align: center;
  font-size: 44px;
  margin-top: 133px;
  font-family: 'Roboto', sans-serif;
}

.main-body {
  margin-top: 50px;
}

.column {
  float: left;
  width: 27.33%;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.links h1{
  line-height: 88px;
  font-size: 17px;
}

.links p{
  margin-top: -28px;
  text-decoration: underline;
}

.location {
  display: inline-block;
  text-align: center;
  margin-left: 40px;
}

.store-location {
  text-decoration: underline;
}

.location p {
  margin-top: 10px;
}

.icon-center {
  display: flex;
  width: 64%;
  justify-content: center;
  margin-bottom: 10px;
  text-decoration: underline;
  text-decoration-color: rgb(238, 90, 83);
  font-size: 30px;
}

 .one {
  margin-left: 90px;
  border-right: 1px solid lightgray;
}

.bag{
  display: flex;
  margin-bottom: 15px;
}

.two {
  margin: 0px 20px;
  border-right: 1px solid lightgray;
}

.icon-star {
  display: flex;
  justify-content: center;
  font-size: 30px;
  text-decoration: underline;
  text-decoration-color: rgb(54, 188, 225);
}

.trending{
  text-align: center;
  font-size: 30px;
  margin-top: 50px;
}

.three-img {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.three-img img {
  width: 90px;
  height: 90px;
}

.icon-truck {
  display: flex;
  justify-content: center;
  font-size: 30px;
  text-decoration: underline;
  text-decoration-color: rgb(255, 186, 30)
}

.delivery h1 {
  font-size: 32px;
  margin-top: 20px;
  margin-left: 20px;
}

.boxes img {
  width: 120px;
  height: 160px;
}

.text-boxes {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.delivery h4 {
  font-size: 20px;
  margin-left: 20px;
  margin-top: 20px;
}

.delivery p {
  margin-left: 20px;
  margin-top: 35px;
  text-decoration: underline;
}

.shop {
  margin-top: 100px;
}

.ad {
  background-color:  rgb(255, 186, 30);
  margin-left: 40px;
  margin-right: 40px;
  height: 100px;
  margin-top: 100px;
}

.category {
  margin-bottom: 50px;
}

.see-more {
  font-size: 20px;
  text-decoration: underline;
  margin-right: 5px;
}

.items {
  text-align: center;
}

.items img {
  width: 225px;
  height: 200px;
}

.items p {
  margin-bottom: 100px;
  font-size: 20px;
}

.fa-plus {
  font-size: 17px;
  margin-left: 5px;
  color: black;
}

.columns {
  float: left;
  width: 33.33%;
}

.rows:after {
  content: "";
  display: table;
  clear: both;
}

.rows {
  text-align: center;
  margin-top: 50px;
}

.columns h1 {
  font-size: 24px;
  margin-bottom: 30px;
  margin-top: 20px;
}

.white-box {
  background-color: white;
  display: inline-block;
  margin-top: -53px;
  height: 120px;
}

@media only screen and (max-width:950px) {

  .no-show {
    display: none;
  }
}

@media only screen and (max-width:750px) {
  .search-box {
    width: auto;
  }

  .right-content {
    display: none;
  }
}

@media only screen and (max-width:959px) {
  .row {
    grid-template-columns: 1fr;
  }
}
