.fa-bars{
  color: aqua;
  margin-top: 10px;
}
.fa-cutlery{
  color: white;
  margin-top: 10px;
}
.fa-user {
  color: white;
  margin-top: 10px;
}
.fa-map-marker {
  color: white;
  margin-top: 10px;
}
.fa-shopping-cart {
  color: white;
  margin-top: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(8, 28, 58);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul input {
  font-size: 20px;
  margin-top: 16px;
  width: 500px;
  margin-left: 300px;
}

ul.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 70%;
  margin-left: 250px;
  margin-top: -8px;
}